<div id="back">
	<header>
		<div class="header-text">Interactive toolkit to assist parties in the environmentally sound management of industrial chemicals under the Basel, Rotterdam and Stockholm Conventions</div>
		<div class="header-logos">
			<a href="http://www.basel.int" target="_blank"><img src="img/basel-logo2.png" alt="Basel convention logo" /></a>
			<a href="http://www.pic.int" target="_blank"><img src="img/rotterdam-logo2.png" alt="Rottedam convention logo" /></a>
			<a href="http://chm.pops.int/default.aspx" target="_blank"><img src="img/stockholm-logo2.png" alt="Stockholm convention logo" /></a>
		</div>
	</header>
	<div id="main">
		<nav></nav>
		<article></article>
	</div>
	<footer>
	</footer>
</div>
